package $packageName;

import java.nio.ByteBuffer;

public class $messageName extends ObjControllerMessage {

    public $messageName(final ByteBuffer buffer) {
        super(buffer);
    }

    @Override
    public void writeToBuffer(final ByteBuffer buffer) {
    
    }
    /**
     $messageStruct
     */
}
